* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

html {
    width:100%;
    height:100%;
}

p {
    font-size:16px;
    margin-top: 1em;;
}

body{
    width:100%;
    height:100%;
    background: url("https://www.telegraph.co.uk/content/dam/world-news/2022/05/17/TELEMMGLPICT000296221461_trans_NvBQzQNjv4Bqek9vKm18v_rkIPH9w2GMNpPHkRvugymKLtqq96r_VP8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.kood-konteiner {
    margin-top: 3em;
    color:antiquewhite;
    width:60vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    margin-top: 3em;
    width:30vw;
    height:5vh;
    border-radius: 20px;
    border: 3px solid darkkhaki;
    background-color: darkkhaki;
    color:antiquewhite;
    cursor:pointer;
}
table, tr, th, td{
    color:antiquewhite;
    border: 2px solid darkkhaki;
}
table {
    margin-top: 5em;
    width:50vw;
    height:30vh;
    text-align: center;
}
.story {
    margin-top: 3em;
    width:70vw;
    height:20vw;
    color:antiquewhite;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.link {
    color:antiquewhite;
    margin-bottom: 3em;;
}
a {
    color:darkkhaki;
    margin-bottom: 3em;;
}

